.App {
  text-align: center;
  padding-top:6em;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
h1 {
    font-weight: 200;
}
a {
    color: #61dafb;
}
a:hover {
    color: #61dafb;
    text-decoration: none;
}
main {
    min-height: 100vh;
  padding-bottom:3em;
}
.card {
    padding: 1rem;
    min-width: 350px;
    margin: 1rem;
    color: black;
}
.card p {
    font-size: 11pt;
    display: block;
}
.card:hover {
    text-decoration: none;
}
.card-body {
    border-radius: 5px;
}
.card-title {
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 1em;
    border-bottom: 1px solid;
    /* max-width: 200px; */
}
nav a {
    font-size: 10pt;
}
.logo img {
    border: none;
    height: 75px;
}
.logo h1 {
    border-left: 1px solid;
    margin-left: 1rem;
    padding-left: 1rem;
}
img { 
    max-height: 150px;
    /* border-radius: 100%; */
    border-radius: 15px;
    border: 5px solid;
}
.card-info {
    text-align: left;    
    text-indent: 25px;
}
.card-container {
    border-radius: 4px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:9999;
    height: 6em;
}
.bold {
    font-weight: bold;
}
.edit-btn {
    right: 1em;
}
